.howto {
    padding: 2rem 5rem;
    margin-bottom: 10rem;
}

.howto-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
}

.howto-item {
    text-align: center;
    padding: 2rem 6rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.step-num {
    font-size: 3rem;
}

.step {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}